USE [PRJ301_SE1648]
GO
/****** Object:  Table [dbo].[Account_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE163771](
	[username] [nvarchar](150) NOT NULL,
	[password] [nvarchar](150) NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[isAdmin] [bit] NULL,
	[email] [nvarchar](250) NULL,
	[phone] [nvarchar](50) NULL,
	[questionId] [nvarchar](50) NOT NULL,
	[cityId] [nvarchar](50) NOT NULL,
	[answer] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Account_SE1648] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_HE163771](
	[categoryId] [nvarchar](150) NOT NULL,
	[categoryName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Category_SE1648] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_HE163771](
	[cityId] [nvarchar](50) NOT NULL,
	[cityName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_City_SE1648] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment_HE163771](
	[username] [nvarchar](150) NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [text] NOT NULL,
	[date] [nvarchar](150) NOT NULL,
	[reply] [int] NOT NULL,
 CONSTRAINT [PK_Comment_SE1648] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_HE163771](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[date] [varchar](150) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Order_SE1648] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail_HE163771](
	[orderId] [int] NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_HE163771](
	[productId] [nvarchar](150) NOT NULL,
	[productName] [nvarchar](150) NOT NULL,
	[price] [int] NOT NULL,
	[image] [text] NOT NULL,
	[description] [text] NOT NULL,
	[categoryId] [nvarchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_SE1648] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_HE163771](
	[questionId] [nvarchar](50) NOT NULL,
	[questionContent] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Question_SE1648] PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempOrder_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempOrder_HE163771](
	[username] [nvarchar](150) NOT NULL,
	[productId] [nvarchar](150) NOT NULL,
	[price] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdatePrice_HE163771]    Script Date: 6/7/2023 11:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdatePrice_HE163771](
	[productId] [nvarchar](150) NOT NULL,
	[newPrice] [int] NOT NULL,
	[date] [nvarchar](150) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Account_HE163771] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'BestSeller', 1, N'ngkien112@gmail.com', N'092213132', N'123', N'27', N'qaodd')
INSERT [dbo].[Account_HE163771] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin1', N'e10adc3949ba59abbe56e057f20f883e', N'FirstSeller', 1, NULL, NULL, N'123', N'20', N'a')
INSERT [dbo].[Account_HE163771] ([username], [password], [fullname], [isAdmin], [email], [phone], [questionId], [cityId], [answer]) VALUES (N'admin2', N'e10adc3949ba59abbe56e057f20f883e', N'SecondSeller', 1, NULL, NULL, N'123', N'20', N'a')
GO
INSERT [dbo].[Category_HE163771] ([categoryId], [categoryName]) VALUES (N'122', N'electrical measuring device')
INSERT [dbo].[Category_HE163771] ([categoryId], [categoryName]) VALUES (N'211', N'tools')
INSERT [dbo].[Category_HE163771] ([categoryId], [categoryName]) VALUES (N'232', N'temperature measurement device')
GO
INSERT [dbo].[City_HE163771] ([cityId], [cityName]) VALUES (N'20', N'Ha Noi')
INSERT [dbo].[City_HE163771] ([cityId], [cityName]) VALUES (N'27', N'Da Nang')
INSERT [dbo].[City_HE163771] ([cityId], [cityName]) VALUES (N'34', N'TP. Ho Chi Minh')
GO
SET IDENTITY_INSERT [dbo].[Comment_HE163771] ON 

INSERT [dbo].[Comment_HE163771] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'admin', N'126', 1, N'Good', N'2022-10-16 16:14:50', 0)
INSERT [dbo].[Comment_HE163771] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'admin', N'126', 2, N'normal', N'2022-10-20 20:32:04', 0)
INSERT [dbo].[Comment_HE163771] ([username], [productId], [id], [content], [date], [reply]) VALUES (N'customer', N'127', 3, N'so expensive', N'2022-10-20 20:32:33', 0)
SET IDENTITY_INSERT [dbo].[Comment_HE163771] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_HE163771] ON 

INSERT [dbo].[Order_HE163771] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (20, N'admin', N'2022-10-16 16:14:50', N'0877764762', N'ngkien112@gmail.com', N'Nga thiện nga sơn thanh hóa', 1)
INSERT [dbo].[Order_HE163771] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (22, N'admin', N'2022-10-16 21:56:52', N'0877764762', N'ngkien112@gmail.com', N'Nga thiện nga sơn thanh hóa', 1)
INSERT [dbo].[Order_HE163771] ([orderId], [username], [date], [phone], [email], [address], [status]) VALUES (24, N'admin', N'2022-10-17 14:06:22', N'0877764762', N'ngkien112@gmail.com', N'Nga thiện nga sơn thanh hóa', 1)
SET IDENTITY_INSERT [dbo].[Order_HE163771] OFF
GO
INSERT [dbo].[OrderDetail_HE163771] ([orderId], [productId], [quantity], [price]) VALUES (32, N'130', 4, 309)
INSERT [dbo].[OrderDetail_HE163771] ([orderId], [productId], [quantity], [price]) VALUES (33, N'130', 3, 309)
INSERT [dbo].[OrderDetail_HE163771] ([orderId], [productId], [quantity], [price]) VALUES (33, N'882', 3, 232)
GO
INSERT [dbo].[Product_HE163771] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'100', N'USB OTG Micro USB to Type C charger adapter', 22, N'https://nshopvn.com/wp-content/uploads/2022/10/dau-chuyen-doi-cong-sac-truyen-du-lieu-otg-type-c-sang-micro-usb-x7vd-lkre-1-100x100.jpg', N'Micro USB to Type C . Adapter
– Support OTG
Shell material: ABS plastic
– Weight: ~2g
– Overall dimensions: 27 x 11.5 x 6mm (length x width x thickness)', N'232', 3276)
INSERT [dbo].[Product_HE163771] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'113', N'3.5mm audio jack to 6.35mm . jack converter', 13, N'https://nshopvn.com/wp-content/uploads/2021/06/dau-chuyen-doi-jack-am-thanh-3-5mm-sang-jack-6-35mm-1roz-5-100x100.jpg', N'Purpose: Convert male 3.5 mm head to male 6.35 mm head
– Type: Straight
– Material: Plastic + Metal
– Color: Gold', N'211', 151)
INSERT [dbo].[Product_HE163771] ([productId], [productName], [price], [image], [description], [categoryId], [quantity]) VALUES (N'115', N'Connector with 2 ends for 121 . electrical cabinet rail', 14, N'https://nshopvn.com/wp-content/uploads/2022/09/cut-noi-2-dau-gan-thanh-ray-tu-dien-121-3bm1-1-100x100.jpg', N'Model: 121
– Type: used for 35mm . rail
– Output pins: 1 input 1 output
– Rated voltage: 250VAC
– Rated current: 32A
Insulation voltage: 600V', N'653', 945)
GO
INSERT [dbo].[Question_HE163771] ([questionId], [questionContent]) VALUES (N'123', N'What is your favorite game?')
INSERT [dbo].[Question_HE163771] ([questionId], [questionContent]) VALUES (N'203', N'What is your hobby?')
INSERT [dbo].[Question_HE163771] ([questionId], [questionContent]) VALUES (N'254', N'What is your name when you were child?')
GO
INSERT [dbo].[TempOrder_HE163771] ([username], [productId], [price], [quantity]) VALUES (N'customer', N'118', 18, 1)
INSERT [dbo].[TempOrder_HE163771] ([username], [productId], [price], [quantity]) VALUES (N'customer', N'200', 175, 6)
INSERT [dbo].[TempOrder_HE163771] ([username], [productId], [price], [quantity]) VALUES (N'customer1', N'115', 14, 1)
GO
ALTER TABLE [dbo].[Account_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Account_SE1648_City_SE1648] FOREIGN KEY([cityId])
REFERENCES [dbo].[City_HE163771] ([cityId])
GO
ALTER TABLE [dbo].[Account_HE163771] CHECK CONSTRAINT [FK_Account_SE1648_City_SE1648]
GO
ALTER TABLE [dbo].[Account_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Account_SE1648_Question_SE1648] FOREIGN KEY([questionId])
REFERENCES [dbo].[Question_HE163771] ([questionId])
GO
ALTER TABLE [dbo].[Account_HE163771] CHECK CONSTRAINT [FK_Account_SE1648_Question_SE1648]
GO
ALTER TABLE [dbo].[Comment_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Comment_SE1648_Account_SE1648] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163771] ([username])
GO
ALTER TABLE [dbo].[Comment_HE163771] CHECK CONSTRAINT [FK_Comment_SE1648_Account_SE1648]
GO
ALTER TABLE [dbo].[Comment_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Comment_SE1648_Product_SE1648] FOREIGN KEY([productId])
REFERENCES [dbo].[Product_HE163771] ([productId])
GO
ALTER TABLE [dbo].[Comment_HE163771] CHECK CONSTRAINT [FK_Comment_SE1648_Product_SE1648]
GO
ALTER TABLE [dbo].[Order_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Order_SE1648_Account_SE1648] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163771] ([username])
GO
ALTER TABLE [dbo].[Order_HE163771] CHECK CONSTRAINT [FK_Order_SE1648_Account_SE1648]
GO
ALTER TABLE [dbo].[OrderDetail_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_SE1648_Order_SE1648] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order_HE163771] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail_HE163771] CHECK CONSTRAINT [FK_OrderDetail_SE1648_Order_SE1648]
GO
ALTER TABLE [dbo].[OrderDetail_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_SE1648_Product_SE1648] FOREIGN KEY([productId])
REFERENCES [dbo].[Product_HE163771] ([productId])
GO
ALTER TABLE [dbo].[OrderDetail_HE163771] CHECK CONSTRAINT [FK_OrderDetail_SE1648_Product_SE1648]
GO
ALTER TABLE [dbo].[Product_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_Product_SE1648_Category_SE1648] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category_HE163771] ([categoryId])
GO
ALTER TABLE [dbo].[Product_HE163771] CHECK CONSTRAINT [FK_Product_SE1648_Category_SE1648]
GO
ALTER TABLE [dbo].[TempOrder_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_TempOrder_SE1648_Account_SE1648] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163771] ([username])
GO
ALTER TABLE [dbo].[TempOrder_HE163771] CHECK CONSTRAINT [FK_TempOrder_SE1648_Account_SE1648]
GO
ALTER TABLE [dbo].[TempOrder_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_TempOrder_SE1648_Product_SE1648] FOREIGN KEY([productId])
REFERENCES [dbo].[Product_HE163771] ([productId])
GO
ALTER TABLE [dbo].[TempOrder_HE163771] CHECK CONSTRAINT [FK_TempOrder_SE1648_Product_SE1648]
GO
ALTER TABLE [dbo].[UpdatePrice_HE163771]  WITH CHECK ADD  CONSTRAINT [FK_SE1648_HE163771_UpdatePrice_SE1648_HE163771_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product_HE163771] ([productId])
GO
ALTER TABLE [dbo].[UpdatePrice_HE163771] CHECK CONSTRAINT [FK_SE1648_HE163771_UpdatePrice_SE1648_HE163771_Product]
GO
